/* 시작버튼 */
.start-button {
  margin-bottom: 100px;
  z-index: 10;
  display: flex;
  font-size: 22px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: 2px solid;
  padding: 8px 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.start-button:hover {
  background-color: #357ab8;
  border: 2px solid #357ab8;
}

/* 아이디 입력창 기본 세팅 */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;

  padding: 40px 60px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.manager-page{
  padding: 5px 25px;
  border: 0px;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #576FD7;
  font-weight: bold;
  transition: background-color 0.5s, color 0.5s;
}
/* 판매자, 관리자 선택 버튼 */
.type-select {
  padding: 5px 25px;

  background-color: transparent;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;

  color: #999;
  font-weight: bold;
  transition: background-color 0.5s, color 0.5s;
}

.type-select:hover {
  background-color: #f0f0f0;
  transition: background-color 0.5s, color 0.5s;
}

.type-select.select-active {
  background-color: #f0f0f0;
  color: #576FD7;
}

/* ID, PW 입력 칸 */
.login-text {
  border-radius: 5px;
  border: 2px solid #E5E5E5;

  font-size: 17px;
  color: #555;
  width: 400px;
  height: 30px;
    padding: 5px 8px;

  outline-color: #576FD7;
}

/* 로그인 버튼 */
.login-button {
  width: 100%;
  height: 45px;
  background-color: #576FD7;

  font-size: 22px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  border: 0px solid #FFF;

  margin-top: 15px;
  cursor: pointer;
  }
  
  .login-button:hover {
    font-weight: bold;
}

/* 회원가입, 비밀번호 찾기 버튼 */
.signup-button {
  width: 115px;
  height: 30px;
  background-color: transparent;
  border: 0px;
  border-radius: 5px;
  font-size: 15px;
  color: #999;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.signup-button:hover {
  color: #576FD7;
  transition: background-color 0.3s, color 0.3s;
}

.right-align {
  justify-content: flex-end;
}

.left-align {
  justify-content: flex-start;
}